tensorrt_yolov8.egg-info/
build/
__pycache__
examples/*
!examples/*.py
!examples/example_mask_results.png
!examples/example_results.png
!examples/example_obb_result.png
!examples/dock.jpg
!examples/demo_img.jpg